@font-face{
    font-family: myFont;
    src: url(../fonts/Tahoma.ttf);
}

* {
    font-family: myFont;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
    float: right
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
iframe:hover{
    -webkit-transition: all 5s;
    transition: all 2s;
    width: 550px;
}
.navbar-inverse {
    background-color: #009688;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

a.navbar-brand {
    color: white !important;
}

.slick-slide img {
    height: 202px;
}

#menu .list-group-item {
    padding: 0;
    margin-bottom: 15px;
    border-radius: 4px;
    min-height: 110px;
}

#menu .list-group-item img {
    position: absolute;
    z-index: 10000;
    height: 100px;
    top: 4px;
    left: 12px;
}

#menu .list-group-item .actions {
    direction: ltr;
    padding-left: 22px;
    margin-bottom: 3px;
}

#about{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}
#menu .list-group-item > * {
    padding-right: 5px;
}

#menu .list-group-item h3{
   background-color: #03A9F4;
    border: 1px solid transparent;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.invisible {
    display: none !important;
}

.visible {
    display: inline-block !important;
}

th {
    text-align: right;
}

.list-group-item-text {
    padding-left: 109px;
}