@{
    ViewBag.Title = "מחפשים חומוס טרי ואיכותי בעל מרקם עדין וטעם עשיר? הגעתם למקום הנכון!";
}
<h2 dir="rtl" style="text-align:center">@ViewBag.Title</h2>

<div id="about">
    <font size="3" style="font-family:Tahoma">
        <p style="text-align:center;" dir="rtl">חומוס-פלא היא מסעדת שף המתמחה בחומוס טרי ללא חומרים משמרים. </p>
        <p style="text-align:center;" dir="rtl"> החומוס נטחן במקום ומוגש לכם חם, טרי ורענן, על מנת להבטיח עבורכם חוויה קולינרית נפלאה.</p>
        <p style="text-align:center;" dir="rtl">השפים דניאל, עליסה ועמית הנם בעלי ניסיון עשיר וידע רב בכל עולמות האוכל, הדבר בא לידי ביטוי במנות המוגשות במקום. </p>
        <p style="text-align:center;" dir="rtl">חומוס-פלא ממוקם באזורים מרכזיים בארץ - באר שבע, חיפה, תל אביב וירושלים. </p>
        <p style="text-align:center;" dir="rtl">מיד עם פתיחתו הפך המקום לאבן שואבת לכל חסידי החומוס האיכותי והטרי. </p>
        <p style="text-align:center;" dir="rtl">כיום, לקוחות מגיעים למקום מכל יישובי המרכז ומכל רחבי הארץ בגלל השם והמוניטין.</p>
        <p style="text-align:center;" dir="rtl">במקום 30 מקומות ישיבה לסועדים וישנו שירות משלוחים.</p>
        <p style="text-align:center;" dir="rtl"></p> 
    </font>
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
<p style="text-align:center">
    <iframe width="420" height="315"
            src="https://www.youtube.com/embed/xpiUwfLj81w?autoplay=1"></iframe>
</p>
