@{
    ViewBag.Title = "צור קשר";
}
<b><h2 dir="rtl">@ViewBag.Title</h2></b>

<address dir="rtl" style="font:normal">
    סושי פקטורי<br />
    רחוב רוטשילד 2018 , ראשון לציון<br />
    <abbr title="Phone">טלפון:</abbr>
    03-1234567
</address>

<address dir="rtl">
    <strong>Support:</strong>   <a href="mailto:Support@example.com">SushiFactory@gmail.com</a><br />
</address>
