@{
    ViewBag.Title = "צור קשר";
}
<b><h2 dir="rtl">@ViewBag.Title</h2></b>

<address dir="rtl" style="font:normal">
    חומוס-פלא<br />
    רחוב קרליבך 7, תל-אביב<br />
    <abbr title="Phone">טלפון:</abbr>
    09-4556789
</address>

<address dir="rtl">
    <strong>Support:</strong>   <a href="mailto:Support@example.com">WonderLandHummus@gmail.com</a><br />
</address>

<p style="text-align:start">
    <img src="~/Images/תמונה-צור-קשר1.jpg" />
</p>